body{
    background-image: url("Gw2-64 2017-10-21 23-42-08.jpg");
    /*background: rgb(20,20,30);*/
    font-family: "Courier New", Courier, monospace;
    font-stretch: : 100;
    text-align: center;
    /*text-shadow: 1px 1px 1px black;*/
}

header.Big {
    font-size: 3em;
    color: rgb(190,24,24);
    font-family: 'Bangers';
    /*text-shadow: 5px 5px 2px black;*/
}

header.Small {
    font-size: 2em;
    color: rgb(200,200,200);
    text-align: center;
    font-family: "Arial Black", Gadget, sans-serif;
    /*text-shadow: 2px 2px 1px black;*/
}

div{
	margin: auto;
}

.Center{
    margin: auto;
    width: 50%;
    text-align: center;
}

div.CenterList{
    text-align: center;
    background-color: rgba(120,120,120,0.4);
    border-radius: 25px;
    padding: 0.5em;
    display: inline-block;
}

div.LeftList{
    width: 50%;
    text-align: left;
    background-color: rgba(120,120,120,0.4);
    border-radius: 25px;
    padding: 0.5em;
    margin-top: 3em !important;
    font-weight: bold;
}
p{
    color: rgb(177,177,177);
	font-size: 1.5em;
	margin: 1em;	
}
dd{
    color: rgb(200,200,200);
    font-size: 1.5em;
    margin: 0.5em;
    font-weight: bold;
}

table#EncounterTable td{
    font-size: 1.5em;
    color: rgb(150,150,150);
    border: 2px solid rgb(177,177,177);
    padding: 0.3em;
}

table#EncounterTable th{
    font-size: 1.8em;
    color: rgb(200,200,200);
    border: 2px solid rgb(177,177,177);
    padding: 0.4em;
    /*text-shadow: 2px 2px 1px black;*/
}

table#EncounterTable{
    border: 2px solid rgb(177,177,177);
    border-collapse: collapse;
    margin: 0.8em;
}

td.Slash{
    background: linear-gradient(to right top, #ffffff00 0%,#ffffff00 49.9%,#B1B1B1 50%,#B1B1B1 51%,#ffffff00 51.1%,#ffffff00 100%);
}

table#EncounterTable a{
	color: rgb(200,200,200);
	font-weight: bold;
}
a:link, a:visited {
    color: rgb(177,177,177);
}

a:link:active, a:visited:active {
    color: rgb(177,177,177);;
}