body{
    /*background-image: url("Gw2-64 2017-10-21 23-42-08_1080.jpg");*/
    /*background: rgb(20,20,30);*/
    font-family: "Courier New", Courier, monospace;
    font-stretch: : 100;
    text-align: center;
    font-weight: bold;
    /*text-shadow: 1px 1px 1px black;*/
}

@media only screen and (min-width: 1921px) {
    body {
        background: url("Gw2-64 2017-10-21 23-42-08.jpg");;
    }
}
@media only screen and (max-width: 1921px) {
    body {
        background: url("Gw2-64 2017-10-21 23-42-08_1080.jpg");
    }
}

@media only screen and (max-width: 1080px) {
    body {
        background: url("Gw2-64 2017-10-21 23-42-08_mobile.jpg");
    }
}

header.Big {
    font-size: 3em;
    color: rgb(190,24,24);
    font-family: 'Sura', serif;
    /*font-family: 'Bangers';*/
    /*text-shadow: 5px 5px 2px black;*/
}

header.Small {
    font-size: 2em;
    color: rgb(230,230,230);
    text-align: center;
    font-family: "Arial Black", Gadget, sans-serif;
    /*text-shadow: 2px 2px 1px black;*/
}

div{
	margin: auto;
}

.Center{
    width: 100%;
    text-align: center;
}

div.CenterList{
    text-align: center;
    background-color: rgba(120,120,120,0.4);
    border-radius: 25px;
    padding: 0.5em;
    display: inline-block;
}

div.LeftList{
    width: 50%;
    text-align: left;
    background-color: rgba(120,120,120,0.4);
    border-radius: 25px;
    padding: 0.5em;
    margin-top: 3em !important;
}



p{
    color: rgb(200,200,200);
	font-size: 1.5em;
	margin: 1em;	
}

dd{
    color: rgb(200,200,200);
    font-size: 1.5em;
    margin: 0.5em;
}

dd.WeekList{
    color: rgb(200,200,200);
    font-size: 1.7em;
    margin-bottom: 1em;
    padding: 0.7em;
    width: auto;
    background-color: rgba(120,120,120,0.4);
    display: inline-block;
    border-radius: 10px;
}

table#EncounterTable td{
    font-size: 1.5em;
    color: rgb(150,150,150);
    border: 2px solid rgb(200,200,200);
    padding: 0.3em;
    font-weight: normal;
}

table#EncounterTable th{
    font-size: 1.8em;
    color: rgb(230,230,230);
    border: 2px solid rgb(200,200,200);
    padding: 0.4em;
    /*text-shadow: 2px 2px 1px black;*/
}

table#EncounterTable{
    border: 2px solid rgb(200,200,200);
    border-collapse: collapse;
    margin: 0.8em;
}

td.Slash{
    background: linear-gradient(to right top, #ffffff00 0%,#ffffff00 48.9%,#B1B1B1 49%,#B1B1B1 51%,#ffffff00 51.1%,#ffffff00 100%);
}

@keyframes TextFloat {
    from {
    	text-shadow: 0px 0px 0px black;
    	color: rgb(200,200,200);
    }
    to {
    	color: rgb(255,255,255);
    	text-shadow: 5px 5px 2px black;
    }
}

a{
	color: rgb(200,200,200);
	text-decoration: none;
    font-weight: bold;
}

 /* unvisited link */
a:link {
    color: rgb(200,200,200);
}

/* visited link */
a:visited {
    color: rgb(200,200,200);
}

/* mouse over link */
a:hover {
    animation-name: TextFloat;
    animation-duration: 0.1s;
    animation-fill-mode:forwards;
}

/* selected link */
a:active {
    color: rgb(200,200,200);
} 

@media only screen and (max-width: 1080px) {
    table#EncounterTable td{
        font-size: 1em;
    }

    table#EncounterTable th{
        font-size: 1.2em;
    }    

    header.Big {
        font-size: 2em;
        color: rgb(190,24,24);
        font-family: 'Sura', serif;
        /*font-family: 'Bangers';*/
        /*text-shadow: 5px 5px 2px black;*/
    }

    header.Small {
        font-size: 1.5em;
        color: rgb(230,230,230);
        text-align: center;
        font-family: "Arial Black", Gadget, sans-serif;
        /*text-shadow: 2px 2px 1px black;*/
    }

    dd.WeekList{
        width: 100%;
        font-size: 1em;
        display: block;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }
    div.CenterList{
        width: 100%;
        display: block;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }

    div.LeftList{
        width: 100%;
        display: block;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }

    p{
        font-size: 1em;
    }
}