body{
    background-image: url("Gw2-64 2017-10-21 23-42-08.jpg");
    font-family: "Courier New", Courier, monospace;
    font-stretch: : 100;
    text-align: center;
}

header {
    font-size: 3em;
    color: rgb(190,24,24);
    font-family: 'Bangers';
}

header.Small {
    font-size: 2em;
    color: rgb(200,200,200);
    text-align: center;
    font-family: "Arial Black", Gadget, sans-serif;
}

div{
	margin: auto;
}

.Center{
    margin: auto;
    width: 50%;
    text-align: center;
}

div.CenterList{
    text-align: center;
    background-color: rgba(120,120,120,0.4);
    border-radius: 25px;
    padding: 0.5em;
    display: inline-block
}

div.LeftList{
    width: 50%;
    text-align: left;
    background-color: rgba(120,120,120,0.4);
    border-radius: 25px;
    padding: 0.5em;
    margin-top: 3em !important;
}

dd{
    color: rgb(200,200,200);
    font-size: 1.5em;
    margin: 0.5em;
}


table#EncounterTable td{
    font-size: 1.5em;
    color: rgb(200,200,200);
    border: 2px solid rgb(177,177,177);
}

table#EncounterTable th{
    font-size: 1.8em;
    color: rgb(200,200,200);
    border: 2px solid rgb(177,177,177);
}

table#EncounterTable{
    border: 2px solid rgb(177,177,177);
    border-collapse: collapse;
    margin: auto;
}

a:link, a:visited {
    color: rgb(177,177,177);
}

a:link:active, a:visited:active {
    color: rgb(177,177,177);;
}